.price-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 15px;
  row-gap: 25px;
}
@media screen and (min-width: 1200px) {
  .price-cards {
    flex-direction: row;
    justify-content: center;
    width: 1176px;
    padding: 0;
    margin: 65px auto;
    column-gap: 18px;
  }
}

.price-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 500px;
  background-color: #334247;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .price-card {
    width: 380px;
    max-width: none;
  }
}
.price-card__popular-label {
  position: absolute;
  top: 15px;
  right: -32px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 25px;
  background-color: #dc3f45;
  font-size: 10px;
  font-weight: 700;
  transform: rotate(45deg);
}
@media screen and (min-width: 768px) {
  .price-card__popular-label {
    top: 15px;
    right: -32px;
    width: 140px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .price-card__popular-label {
    top: 29px;
    right: -29px;
    width: 147px;
    font-size: 14px;
  }
}
.price-card__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}
.price-card__title h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .price-card__title h2 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .price-card__title h2 {
    font-size: 35px;
    line-height: 43px;
  }
}
.price-card__title span {
  font-size: 18px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .price-card__title span {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 31px;
  }
}
.price-card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  font-size: 38px;
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  .price-card__price {
    height: 105px;
    font-size: 55px;
    line-height: 105px;
  }
}
.price-card__price_green {
  background-color: #5bb189;
}
.price-card__price_blue {
  background-color: #3a6ba5;
}
.price-card__price_orange {
  background-color: #ec632a;
}
.price-card__description {
  width: 85%;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto;
}
@media screen and (min-width: 1200px) {
  .price-card__description {
    width: 320px;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin: 40px auto;
  }
}
.price-card__options-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .price-card__options-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .price-card__options-list {
    display: block;
  }
}
.price-card__option {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  font-size: 14px;
  padding-left: 40px;
}
.price-card__option:nth-child(odd) {
  background-color: transparent;
}
.price-card__option:nth-child(4n+1), .price-card__option:nth-child(4n+4) {
  background-color: #2a3438;
}
@media screen and (min-width: 768px) {
  .price-card__option:nth-child(odd) {
    background-color: transparent;
  }
  .price-card__option:nth-child(4n+1), .price-card__option:nth-child(4n+4) {
    background-color: #2a3438;
  }
}
@media screen and (min-width: 1200px) {
  .price-card__option {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 300;
    line-height: 50px;
    padding-left: 59px;
  }
  .price-card__option:nth-child(even) {
    background-color: transparent;
  }
  .price-card__option:nth-child(odd) {
    background-color: #2a3438;
  }
}
.price-card__checkmark {
  position: absolute;
  left: 15px;
  width: 15px;
  height: 13px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 1200px) {
  .price-card__checkmark {
    left: 22px;
  }
}
.price-card__checkmark_green {
  background-image: url("https://bionic-university.s3.eu-central-1.amazonaws.com/projects/price-cards/checkmark-green.png");
}
.price-card__checkmark_blue {
  background-image: url("https://bionic-university.s3.eu-central-1.amazonaws.com/projects/price-cards/checkmark-blue.png");
}
.price-card__checkmark_orange {
  background-image: url("https://bionic-university.s3.eu-central-1.amazonaws.com/projects/price-cards/checkmark-orange.png");
}
.price-card__order-btn {
  width: 140px;
  height: 40px;
  color: #fff;
  font-size: 13px;
  font-family: inherit;
  border: none;
  border-radius: 20px;
  margin: 25px auto;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .price-card__order-btn {
    width: 156px;
    font-size: 15px;
    margin: 40px auto;
  }
}
.price-card__order-btn_green {
  background-color: #5bb189;
}
.price-card__order-btn_blue {
  background-color: #3a6ba5;
}
.price-card__order-btn_orange {
  background-color: #ec632a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: #141b1c;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

/*# sourceMappingURL=styles.css.map */

