@use 'variables' as *;
@use 'breakpoints' as *;

.price-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 15px;
  row-gap: 25px;

  @include desktop {
    flex-direction: row;
    justify-content: center;
    width: 1176px;
    padding: 0;
    margin: 65px auto;
    column-gap: 18px;
  }
}

.price-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 500px;
  background-color: $card-bg-color;
  overflow: hidden;

  @include desktop {
    width: 380px;
    max-width: none;
  }

  &__popular-label {
    position: absolute;
    top: 15px;
    right: -32px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 25px;
    background-color: $red-ribbon-color;
    font-size: 10px;
    font-weight: $bold-weight;
    transform: rotate(45deg);

    @include tablet {
      top: 15px;
      right: -32px;
      width: 140px;
      font-size: 12px;
    }

    @include desktop {
      top: 29px;
      right: -29px;
      width: 147px;
      font-size: 14px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    h2 {
      font-size: 28px;
      font-weight: $bold-weight;
      margin: 0;

      @include tablet {
        font-size: 32px;
      }

      @include desktop {
        font-size: 35px;
        line-height: 43px;
      }
    }

    span {
      font-size: 18px;
      margin-bottom: 15px;

      @include desktop {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 31px;
      }
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    font-size: 38px;
    font-weight: $bold-weight;

    @include desktop {
      height: 105px;
      font-size: 55px;
      line-height: 105px;
    }

    &_green {
      background-color: $basic-price-bgcl;
    }
    &_blue {
      background-color: $business-price-bgcl;
    }
    &_orange {
      background-color: $webshop-price-bgcl;
    }
  }

  &__description {
    width: 85%;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto;

    @include desktop {
      width: 320px;
      font-size: 15px;
      font-weight: $light-weight;
      line-height: 18px;
      margin: 40px auto;
    }
  }

  &__options-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include desktop {
      display: block;
    }
  }

  &__option {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    font-size: 14px;
    padding-left: 40px;

    &:nth-child(odd) {
      background-color: transparent;
    }
    &:nth-child(4n + 1),
    &:nth-child(4n + 4) {
      background-color: $card-darkbg-color;
    }

    @include tablet {
      &:nth-child(odd) {
        background-color: transparent;
      }
      &:nth-child(4n + 1),
      &:nth-child(4n + 4) {
        background-color: $card-darkbg-color;
      }
    }

    @include desktop {
      display: flex;
      width: 100%;
      height: 50px;
      font-size: 15px;
      font-weight: $light-weight;
      line-height: 50px;
      padding-left: 59px;

      &:nth-child(even) {
        background-color: transparent;
      }
      &:nth-child(odd) {
        background-color: $card-darkbg-color;
      }
    }
  }

  &__checkmark {
    position: absolute;
    left: 15px;
    width: 15px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: contain;

    @include desktop {
      left: 22px;
    }

    &_green {
      background-image: url('https://bionic-university.s3.eu-central-1.amazonaws.com/projects/price-cards/checkmark-green.png');
    }

    &_blue {
      background-image: url('https://bionic-university.s3.eu-central-1.amazonaws.com/projects/price-cards/checkmark-blue.png');
    }

    &_orange {
      background-image: url('https://bionic-university.s3.eu-central-1.amazonaws.com/projects/price-cards/checkmark-orange.png');
    }
  }

  &__order-btn {
    width: 140px;
    height: 40px;
    color: $color-white;
    font-size: 13px;
    font-family: inherit;
    border: none;
    border-radius: 20px;
    margin: 25px auto;
    cursor: pointer;

    @include desktop {
      width: 156px;
      font-size: 15px;
      margin: 40px auto;
    }

    &_green {
      background-color: $basic-price-bgcl;
    }

    &_blue {
      background-color: $business-price-bgcl;
    }

    &_orange {
      background-color: $webshop-price-bgcl;
    }
  }
}
