@use 'variables' as *;
@use 'breakpoints' as *;
@use 'cards';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: $cite-bg-color;
  color: $color-white;
  -webkit-font-smoothing: antialiased;
}
